<!doctype html>
<html class="no-js" ng-app="winderfulApp" ng-controller="mainController as $ctrl" lang="eng">
  <head>
    <meta charset="utf-8">
    <meta name="fragment" content="!">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title>Winderful</title>
    <meta name="description" content="Wind energy is currently producing <%= windOutput  %>MW">
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@winderful_uk" />
    <meta name="twitter:title" content="Winderful" />
    <meta name="twitter:description" content="Wind energy is currently producing <%= windOutput  %>MW" />
    <meta name="twitter:image" content="<%= rootUrl %>/assets/images/screenshot.png" />

    <meta property="og:url" content="<%= rootUrl %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Winderful" />
    <meta property="og:description" content="Wind energy is currently producing <%= windOutput  %>MW" />
    <meta property="og:image" content="<%= rootUrl %>/assets/images/screenshot.png" />

    <!-- inline the favicons tag as the plugin breaks the EJS template -->
    <inline src="favicons.html" />

    <!-- build:css({.tmp,client}) app/critical.css -->
    <link rel="stylesheet" href="app/critical.css">
    <!-- endbuild -->

    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
    <style type="text/css">
      .turbine__rotor {
        -webkit-animation-duration: <%= animationDuration %>s;
        animation-duration: <%= animationDuration %>s
      }
    </style>
    <% if (bgColor) { %>
    <style>
      .main-header {
        background: #<%= bgColor %>;
      }
    </style>
    <% } %>
  </head>
  <body<% if (embedded) { %> class="embedded"<% } %>>
    <!--[if lt IE 7]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="offline-message"></div>

    <div class="main-app">
      <div class="stats" ng-class="{'stats-loaded': $ctrl.loaded}">
        <span class="stats__when" ng-bind-html="$ctrl.statsRightNowCopy()">
          <div class="large-copy">Right now</div>
          wind power is generating
        </span>

        <div class="hide-xs large-copy" data-ng-bind-html="$ctrl.renderWindOutput()"><%= windOutput  %>MW</div>

        <hr class="hide-xs">

        <span>
          <div class="large-copy" ng-bind-html="$ctrl.renderDemand()">
            <%= Math.round(100 * (windOutput / demand))  %>%
          </div>

          of the UK's electricity demand
        </span>

        <hr class="hide-xs">

        <div class="stats__equivalent" data-ng-bind-html="$ctrl.getStatExampleCopy(true)"></div>
      </div>

      <div class="turbine-container"
        parallax
        parallax-speed="0.3"
        parallax-top="0">
        <div class="turbine">
          <div class="turbine__rotor" id="turbine-rotor"><img src="assets/images/critical/turbine--rotor.svg" height="496" width="496" alt=""></div>
          <div class="turbine__mast"><img src="assets/images/critical/turbine--mast.svg" height="496" width="76" alt=""></div>
        </div>
      </div>

      <div class="graph" ng-class="{'graph--year': $ctrl.historicalRange == 'year'}">
        <div id="graph-container" ng-if="$ctrl.loaded">
          <rickshaw id="graph"
            rickshaw-features="$ctrl.graph.features"
            rickshaw-options="$ctrl.graph.options"
            rickshaw-series="$ctrl.graph.series"
            ng-click="$ctrl.setHistoricStats()">
          </rickshaw>
        </div>

        <div class="graph__more-info">
          <div class="container">
            <span>Click on the hills for more info</span>
          </div>
        </div>

        <div class="graph__date-range hide-xs">
          Choose a date range:
          <hr>

          <a href="#"
            ng-class="{'selected': $ctrl.historicalRange == 'week'}"
           ng-click="$ctrl.setRange('week')">last week</a> /
          <a href="#"
            ng-class="{'selected': $ctrl.historicalRange == 'month'}"
           ng-click="$ctrl.setRange('month')">last month</a> /
          <a href="#"
            ng-class="{'selected': $ctrl.historicalRange == 'year'}"
           ng-click="$ctrl.setRange('year')">last year</a>
        </div>
      </div>
    </div>

    <div class="intro">
      <header class="main-header">
        <h1 class="main-title">
          <img src="/assets/images/critical/logo.svg" alt="Winderful" height="56" width="400">
        </h1>

        <h2 class="strapline">Visualising the UK's wind energy</h2>

        <nav class="main-nav" ng-cloak>
          <% if (!embedded) { %>
          <a href="#about" title="About Winderful" class="hide-xs" anchor-smooth-scroll>
            <img src="/assets/images/icon--about.svg" width="31" height="31" alt="About">
          </a>
          <% } %><!-- end if embedded -->
          <a href="#" title="Winderful" class="image-link"
          socialshare
          socialshare-provider="facebook"
          socialshare-url="http://winderful.diascreative.net"
          socialshare-text="{{$ctrl.getSocialCopy()}}">
            <img src="/assets/images/icon--fb.svg" width="31" height="31" alt="Facebook">
          </a>
          <a href="#" title="Winderful" class="image-link"
          socialshare
          socialshare-provider="twitter"
          socialshare-url="http://winderful.diascreative.net"
          socialshare-text="{{$ctrl.getSocialCopy()}}">
            <img src="/assets/images/icon--twitter.svg" width="31" height="31" alt="Twitter">
          </a>
        </nav>
      </header>

      <p class="intro__copy">
        Follow <a href="https://twitter.com/winderful_uk" target="_blank" rel="noopener">@winderful_UK</a>
        for updates on how much electricity is being generated by wind
      </p>

      <p class="intro__copy">
        made by <a href="https://diascreative.com" target="_blank">DIAS_</a>
      </p>

      <!--p>
        <input type="checkbox" id="notifications">
        Sign me up to Winderful notifications.
      </p-->
    </div>

    <% if (!embedded) { %>
    <section id="about" class="about">
      <div class="col col--large">
        <h1 class="hide-xs">About Winderful</h1>

        <p>
          This is an experiment using realtime data to tell stories about
          renewable energy.
        </p>

        <p>
          The turbine spins faster or slower in response to the amount of wind
          power currently being generated at that moment (updated every five
          minutes).
        </p>

        <p>
          Wind is often derided as relatively unimportant, so we thought it would
          be nice to show the increasingly important role
          <a href="http://www.businessgreen.com/bg/james-blog/2361031/renewables-records-reveal-how-clean-energy-is-starting-to-light-up-the-world" target="_blank" rel="noopener">
            it plays in a balanced mix of energy generation</a>.
        </p>
        <p>
          We wanted to make MWh something more tangible, so we've taken some data*
          on the average energy usage of domestic products to hopefully bring
          those big numbers to life.</p>

        <p>
          We also wanted to show the increasing importance of wind in the energy
          mix over time and the graph allows us to do that in a simple way as well
          as giving us a means of navigating across time. You can change the date
          range on the graph to show longer term trends.
        </p>

        <p>
          We are aware that numbers can be used to tell all sorts of stories, and
          that this is just one narrative among many possible ones. We choose to
          shine a positive light on the amount of energy being generated by wind.
          For a more rigorous interpretation of energy data, you should read David
          Mackay’s
          <a href="http://www.withouthotair.com/" target="_blank" rel="noopener">
            Sustainable Energy - Without Hot Air
          </a>.
        </p>

        <p>
          So please take this in the manner it was created: as a lightweight
          experiment in real(-ish) time data interpretation.
        </p>

        <p>
          If you have any questions, feedback or suggestions, please ping us at
          <a href="https://twitter.com/DIASCreative" target="_blank" rel="noopener">@diascreative</a>
          or <a href="http://diascreative.com/#contact" target="_blank" rel="noopener">http://diascreative.com/#contact</a>
        </p>

        <h2>About Winderful VR</h2>
        
        <p>
          In our quest to experiment with new ways of visualising data, we’ve made a <a href="https://winderful-vr.diascreative.net" target="_blank">360° Virtual
          Reality version of Winderful</a>.  Dragging left and right lets you explore our seasonal
          "Winderful Christmas" landscape. 
        </p>

        <p>
          As a bonus, we’re also now pulling through realtime UK solar energy data, as produced by 
          <a href="https://www.solar.sheffield.ac.uk/pvlive/" target="_blank" rel="noopener">PV Live - Sheffield Solar</a>
        </p>

        <p>
          Winderful VR works well on desktop, better on mobile and best with VR glasses such as Google Cardboard.
        </p>
      </div>

      <div class="col col--large">
        <h2>*Data sources</h2>

        <p>
          The wind energy data comes from
          <a href="https://www.elexon.co.uk/" target="_blank" rel="noopener">www.elexon.co.uk</a>.
        </p>

        <p>* The numbers on energy consumption come from</p>

        <ul>
          <li><a href="http://www.renewableuk.com/en/renewable-energy/wind-energy/uk-wind-energy-database/figures-explained.cfm#sthash.lEqs5FDf.dpuf" target="_blank" rel="noopener">Homes</a></li>
          <li><a href="http://www.inference.eng.cam.ac.uk/sustainable/book/tex/sewtha.pdf" target="_blank" rel="noopener">Fridge-freezer (p50)</a></li>
          <li><a href="https://www.cse.org.uk/advice/advice-and-support/how-much-electricity-am-i-using" target="_blank" rel="noopener">Hairdryer</a></li>
          <li><a href="https://www.cse.org.uk/advice/advice-and-support/how-much-electricity-am-i-using" target="_blank" rel="noopener">Hob</a></li>
          <li><a href="http://www.frequencycast.co.uk/howmanywatts.html" target="_blank" rel="noopener">Kettle</a></li>
          <li><a href="http://energyusecalculator.com/electricity_lcdleddisplay.htm" target="_blank" rel="noopener">LED TV</a></li>
          <li><a href="https://en.wikipedia.org/wiki/PlayStation_4_technical_specifications" target="_blank" rel="noopener">PS4</a></li>
          <li><a href="https://www.gozolt.com/blog/power-devices-consume/ " target="_blank" rel="noopener">Smartphone</a></li>
          <li><a href="http://www.absak.com/library/power-consumption-table" target="_blank" rel="noopener">Toaster</a></li>
          <li><a href="https://www.cse.org.uk/advice/advice-and-support/how-much-electricity-am-i-using" target="_blank" rel="noopener">Washing machine</a></li>
        </ul>

        <p>
          Source code can be found on <a href="https://github.com/diascreative/winderful-v2" target="_blank" rel="noopener">GitHub</a>.
        </p>

        <h2>Winderful VR</h2>

        <p>The trees we used were from <a href="https://poly.google.com/view/bpV3f5je3rl" target="_blank" rel="noopener">Poly by Google</a>
      </div>

      <hr class="hide-large">

      <div class="col col--med">
        <h1><img src="/assets/images/DIAS_.svg" alt="DIAS_"></h1>
        <p>
          We are a digital design studio, telling interactive stories for good.
          Please contact us if you have a project you would like to collaborate on:
          <br><br>
          <a href="tel:+442032875828">+44 20 3287 5828</a>
        </p>

        <p>
          <a href="https://diascreative.com" target="_blank">diascreative.com</a><br>
          <a href="mailto:info@diascreative.com">info@diascreative.com</a><br>
          <a href="https://twitter.com/diascreative" target="_blank" rel="noopener">@diascreative</a>
        </p>
      </div>
    </section>
    <% } %> <!-- end embedded -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>-->

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/lodash/lodash.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <script src="bower_components/moment/moment.js"></script>
      <script src="bower_components/angular-socialshare/dist/angular-socialshare.min.js"></script>
      <script src="bower_components/d3/d3.js"></script>
      <script src="bower_components/angular-rickshaw/rickshaw.js"></script>
      <!-- endbower -->
    <!-- endbuild -->

    <script src="bower_components/rickshaw/rickshaw.js"></script>

    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/app.constant--shared.js"></script>
      <script src="app/app.constant.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="app/notifications.js"></script>
      <script src="components/parallax/parallax.directive.js"></script>
      <script src="components/smoothScroll/smoothScroll.directive.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
    <script src="service-worker-registration.js"></script>

    <script>
      function sendMessage(message) {
        return new Promise(function(resolve, reject) {
          if (navigator.serviceWorker.controller) {
            var messageChannel = new MessageChannel();
            messageChannel.port1.onmessage = function (event) {
              if (event.data.error) {
                reject(event.data.error);
              } else {
                resolve(event.data);
              }
            };
            navigator.serviceWorker.controller.postMessage(message, [messageChannel.port2]);
          } else {
            reject("This page isn't currently controlled by a service worker. Please reload and try again.");
          }
        });
      }

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56259399-1', 'auto');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
