@import '../components/_variables.styl'

[ng\:cloak]
[ng-cloak]
[data-ng-cloak]
[x-ng-cloak]
.ng-cloak
.x-ng-cloak
  display none !important

body,
html
  margin 0
  padding 0

body
  background #fff
  color $font-color-primary
  font-family $font-primary
  font-size 14px
  line-height 20px
  font-weight 200
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

  @media $not-mobile
    font-size 16px
    line-height calc(1em + 4px)

  &.embedded
    overflow hidden

*
  box-sizing border-box

.hide-not-xs
  @media $not-mobile
    display none !important

.hide-xs
  @media $mobile
    display none !important

a
  color #fff
  opacity .5
  text-decoration none
  transition .3s ease-in

  &:focus
  &:hover
    opacity 1
    transition .3s ease-out

#notifications
  display none
  float right
  margin 10px 0 0 15px

// Component styles are injected through grunt
/* inject:styl */
@import '../components/critical/_header.styl';
@import '../components/critical/_main-body.styl';
@import '../components/critical/_turbine.styl';
/* endinject */
