/*=============================================
=            Fonts                            =
=============================================*/
@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('../assets/fonts/Migrena_Grotesque-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Migrena_Grotesque';
    src: url('../assets/fonts/Migrena_Grotesque-Semibold.otf');
    font-style: normal;
    font-weight: bold;
}