/*=============================================
=            Graph                           =
=============================================*/
.graph
  bottom -44px
  height 134px
  left 0
  overflow hidden
  position absolute
  right 0
  z-index 400

  #graph-container
    height 90px

.rickshaw_graph
  position relative

  svg
    display block
    overflow hidden

  .y_grid line
    stroke #fff

  .y_ticks path
    display none

  .y_ticks text,
  .x_ticks_d3 text
    color #fff
    fill #fff
    font-size 12px
    line-height 16px
    opacity 1

  .x_tick
    border-left 1px dotted #fff
    bottom -44px

    .title
      color #fff
      font normal 16px/20px $font-primary
      fill #fff
      margin 10px
      opacity 1

  .detail
    background #fff
    bottom 0
    pointer-events none
    position absolute
    top 0
    width 1px
    transition opacity 0.25s linear
    z-index 2

    .dot.active
      display none

    .item,
    .x_label
      background #fff
      color #29abe2
      font-size 12px
      fill #fff
      line-height 16px
      margin 0
      padding 5px 10px
      position absolute
      top 0 !important
      white-space nowrap

      &after
        display none

      &.left
        left 0

      &.right
        right 0

    .x_label
      font-weight normal
      padding 6px
      top 30px !important
