/*=============================================
=            Graph                           =
=============================================*/
.graph
  bottom 0
  left 0
  position absolute
  right 0
  z-index 400

  #graph-container
    height 110px
    position relative
    z-index 10

    &:before
      background repeating-linear-gradient(to right, #fff, #fff 2px, transparent 2px,transparent 5px)
      bottom 0
      content ''
      height 1px
      left 0
      position absolute
      right 0
      z-index 10

    @media $not-mobile
      height 194px

  &__more-info
    background-image linear-gradient(0deg, $color-tertiary 0%, $color-secondary 100%)
    color $font-color-secondary
    height 70px
    position relative
    z-index 1

    .container
      margin 0 auto
      max-width 1280px
      width calc(100% - 40px)

      span
        bottom 12px
        position absolute

.rickshaw_graph
  position relative

  &:after
  &:before
    background repeating-linear-gradient(to right, #fff, #fff 2px, transparent 2px,transparent 5px)
    content ''
    height 1px
    left 0
    position absolute
    right 0
    top 50%

  &:after
    top 0

  svg
    display block
    overflow hidden

  .x_ticks_d3 text
    color #fff
    fill #fff
    font-size 12px
    line-height 16px
    opacity 1

  .x_tick
    border-left 2px solid #fff
    bottom -30px
    pointer-events none
    position absolute
    top -34px
    width 0px

    .title
      bottom 0
      color #fff
      font normal 16px/20px $font-primary
      fill #fff
      margin 0 0 5px 10px
      position absolute

  .detail
    background #fff
    bottom 0
    margin-left -1px
    pointer-events none
    position absolute
    top 0
    width 1px
    transition opacity 0.25s linear
    z-index 2

    .dot.active
      display none

    .item,
    .x_label
      background #fff
      color $color-secondary
      font-size 36px
      font-weight normal
      fill #fff
      line-height 26px
      min-width 182px
      padding 2px 8px
      position absolute
      top 30px !important
      white-space nowrap

      &after
        display none

      &.left
        left 3px

      &.right
        right 3px

    .x_label
      font-size 18px
      line-height 21px
      min-width 182px
      padding 7px 6px 10px
      top 60px !important
