/* Typography */
$font-primary = Roboto, Helvetica, Arial, sans-serif

$font-color-primary = #fff
$font-color-secondary = #9b9b9b

/* Colors */
$color-primary = #005a6b
$color-secondary = #7EC172
$color-tertiary = darken($color-secondary, 15)
/* Layout */
$max-width = 1280px

/* mediaqueries */
$width--mobile = 675px
$width--tablet = 1038px

$height--short = 600px

$mobile = '(max-width: ' + ($width--mobile - 1) + ')'
$not-mobile = '(min-width: ' + ($width--mobile) + ')'
$tablet = '(min-width: ' + ($width--mobile) + ') and (max-width: ' + ($width--tablet - 1) + ')'
$desktop = '(min-width: ' + $width--tablet + ')'
$desktop--large = '(min-width: 1280px)'
