.about
  background $color-tertiary
  color #fff
  font-size 24px
  font-weight normal
  line-height calc(1em + 4px)
  overflow-wrap break-word
  padding 40px 0
  position relative
  word-wrap break-word
  word-break break-word
  z-index 300

  .content
    max-width 720px

  h1
    color inherit
    font-size 34px
    font-weight bold
    line-height 40px
    margin 40px 0 26px

  h2
    color inherit
    font-size 24px
    font-weight bold
    margin 44px 0 10px

  h3
    color $color-secondary
    font-size 40px
    line-height 47px
    margin 26px auto 57px
    text-align center

  ul
    list-style none
    margin 0
    padding 0

  li
    margin 0 0 5px
    padding 0

  p
    margin 0 0 24px

  a
    border-bottom solid 1px rgba(#fff, .9)
    border-color inherit
    color inherit
    opacity 1
    text-decoration none
    transition border .3s ease-in

    &:hover
    &:focus
      border-bottom-color rgba(#fff, .6)
      transition border .3s ease-out
